- # = stylesheet_link_tag 'compare'
- # %script{:type=>"application/javscript",:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}

#background
  %img#spinner{:src=>"/assets/ajax-loader.gif",:style=>"display:none;top:50%;left:50%;position:absolute"}
  #container

    %h1
      TwitCompare
    .compareform
      .compareentry
        .compareline
          %label
            Twitter user #1
          %input{:type=>:text,:id=>:input1,:value=>"scalzi"}
          .clear
        .compareline
          %label
            Twitter user #2
          %input{:type=>:text,:id=>:input2,:value=>"fredwilson"}
          .clear
      .comparesec
        %input{:type=>:button,:value=>"Compare",:id=>:comparebutton}
    .clear
    #comparecontent